<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WingWatcher"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".camera"
            android:exported="false" />
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".profilePage"
            android:exported="false" />
        <activity
            android:name=".quoteGenerator"
            android:exported="false" />
        <activity
            android:name=".photoUpload"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBAGzqRIvmlIDfCU0PlK70Ro1sef3zyGeY" />

        <activity
            android:name=".mapPage"
            android:exported="false" />
        <activity
            android:name=".birdAnalytics"
            android:exported="false" />
        <activity
            android:name=".birdList"
            android:exported="false" />
        <activity
            android:name=".birdInfo"
            android:exported="false" />
        <activity
            android:name=".userManage"
            android:exported="false" />
        <activity
            android:name=".signUpPage"
            android:exported="false" />
        <activity
            android:name=".openScreen"
            android:exported="false" />
        <activity
            android:name=".cardsPage"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".loginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
